*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    
}
.container{
    width: 100%;
    height: 100vh;
}
.logo{
    position: fixed;
    left: 70%;
    margin-top: 12%;
    
}



.navbar{
    margin-top: 2%;
    text-align: center;
    flex: 1;
}
.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: rgb(88, 9, 9);
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.content{
    position: absolute;
        left: 5%;
        right: 40%;
        margin-top: 5%;
        
        
}
.content h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 56, 163);
}
.content p{
    text-align: justify;
    text-decoration: wavy;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(9, 9, 110);
    font-size: large;
}