<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Credit Score Range</title>
    <link rel="stylesheet" href="/static/css/cs_range.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="http://127.0.0.1:5500/templates/index.html">HOME</a>
            <a href="http://127.0.0.1:5500/templates/about.html">ABOUT</a>
            <a href="http://127.0.0.1:5500/templates/cs_education.html">CREDIT SCORE EDUCATION</a>
            <a href="http://127.0.0.1:5500/templates/cs_range.html">CREDIT SCORE RANGE</a>
        </div>
        <div class="logo">
            <img class="logo" src="/static/images/range.jpg" alt="Score Range Image">
        </div>
    <div class="content">
        <h3>Good Credit Score:</h3>
        <p>A good credit score typically falls within a certain range, indicating a high level of creditworthiness. Individuals with good credit scores are more likely to be approved for loans, credit cards, and mortgages at favorable interest rates and terms. Lenders view them as reliable borrowers who manage their finances responsibly.</p>
        <br>
        <h3>Standard Credit Score:</h3>
        <p>A standard credit score falls within a moderate range, representing average creditworthiness. While individuals with standard credit scores may still qualify for loans and credit cards, they may encounter slightly higher interest rates and less favorable terms compared to those with good credit scores. It's essential for individuals in this category to continue practicing good financial habits to improve their credit standing over time.</p>
        <br>
        <h3>Poor Credit Score:</h3>
        <p>A poor credit score falls below the acceptable range, indicating a higher risk for lenders. Individuals with poor credit scores may face challenges in obtaining credit or may be limited to options with higher interest rates and less favorable terms. It's crucial for individuals in this category to take proactive steps to improve their credit health, such as paying bills on time, reducing outstanding debt, and addressing any negative marks on their credit reports.</p>
        <br>
        
        
    
    </div>
    <a href="https://en.wikipedia.org/wiki/Credit_score" target="_blank" id="know-more-link" class="know-more-link">Know More</a>
    
    </div>
    
    
</body>
</html>