<!DOCTYPE html>
<html lang="en">
<head>
    <title>CreditScoreClassification</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/cseducation">CREDIT SCORE EDUCATION</a>
            <a href="/csrange">CREDIT SCORE RANGE</a>
        </div>
        <div class="logo">
            <img class="image" src="/static/images/credit_img.avif" alt="Image Related to Credit SCore">
        </div>
    <div class="content">
        <h1>CREDIT CLARITY HUB</h1>
        <p>Unlock Your Financial Potential:<br>
        Understand, Improve, and Monitor Your Credit Score</p><br><br>
        <br><br>
        <br><br>
        <button class="btn"><a href="/input">Credit Score Checker</a></button>


    </div>

    </div>
    
</body>
</html>