<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Result</title>
    <link rel="stylesheet" href="/static/css/res.css">
</head>
<body background="/static/images/range.jpg">
    <div class="container">
        <div class="navbar">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/cseducation">CREDIT SCORE EDUCATION</a>
            <a href="/csrange">CREDIT SCORE RANGE</a>
        </div>
        <div class="content">
            <h2 id="result">{{prediction_text}}</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p><a href="/">Previous page</a></p>
              
        
        </div>
       
    
    
    </div>
    
    
</body>
</html>